* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/img/fundo.jpg);
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 42px;
}

header div {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C);
    width: 145px;
    border-radius: 50%;
}

.perfil {
    display: flex;
    justify-content: center;
}

.imagem-perfil {
    border-radius: 50%;
}




/*
body {
    background-position: top center;
    background-size: 100% auto;
}

.caixa {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

div.filmes {
    background-color: #262629;
    border-radius: 10px;
    padding: 24px 32px 32px;
    width: 580px
}

div.series {
    background-color: #262629;
    border-radius: 10px;
}

div.redes {
    background-color: #262629;
    border-radius: 10px;
}

img a li {
    width: ;
}

ul {
    display: flex;
    justify-content: center;

}

li {
    list-style: none;
}